*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #fafaf9;
}

header,
footer{
    display: flex;
    justify-content: space-between;

    padding: 16px 40px;
    background-color: #ffffff;
    border: 1px solid #e5e5e3;
}

.btn{
    background-color: #111111;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover{
    background-color: #333333;
}

.cta{
    padding: 24px 32px;
    font-size: 18px;
}

.hero{
    text-align: center;
    padding: 100px 24px;
}

.hero h2{
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p{
    margin: 20px auto;
}

.conteudo{
    display: flex;
    flex-direction: row-reverse;

    padding: 20px 40px;
}

.conteudo main{
    width: 100%;
    padding: 8px;
}

.conteudo aside{
    width: 300px;
    padding: 8px;
}

.conteudo__header{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.conteudo__filter{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.conteudo__filter p{
    padding-bottom: 16px;
    font-size: 12px;
    font-weight: bold;
}

.conteudo__filter label{
    padding: 8px;
}

.form__input{
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #e5e5e3;
    border-radius: 8px;
}

.depoimentos{
    display: flex;
    justify-content: center;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
    border: 1px solid #e5e5e3;
    border-radius: 8px;
}

.card__avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: #333333;
    color: #ffffff;
    border-radius: 6px;
}

.card__avatar--grey{
    background-color: #dddddd;
    color: #333333;
}

.card__text{
    flex-grow: 1;
    padding: 0 16px;
}

.card__badge{
    padding: 4px 8px;
    background-color: #dddddd;
    border-radius: 4px;
    color: #666666;
}

.card__title{
    padding:4px 0 16px 0;
}

.card__actions{
    display: flex;
    flex-direction: column;
    align-items: end;
}

@media (max-width: 768px){
    aside{
        display:none
    }


    .conteudo__header,
    .card{
    flex-direction: column;
    }

    .card{
    align-items: start;
    }

    .card__text{
    padding: 8px 0;
    }

    .card__actions{
    width: 100%;
    margin-top: 8px;
    padding-top: 8px;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-top: 1px solid #e5e5e3;
    }

    header{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 8px;
    top: 0;
    align-items: center;

    }

    .entrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px ;
    }
    
    
    


}
